@import 'vanilla-framework';
@include vanilla;

.banner {
  display: flex;
  position: relative;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 1280px;

  &-box {
    @media (max-width: 480px) {
      width: 85%;
      margin-top: 1.5em;
      margin-left: 1.5em;
      padding: 0.8em;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      width: 55%;
      margin-top: 2em;
      margin-left: 1em;
      margin-right: 1em;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      width: 55%;
      max-width: 90%;
      margin-top: 2em;
      margin-left: 1em;
      padding: 1em;
    }

    @media (min-width: 1025px) {
      width: 55%;
      max-width: 80%;
      padding: 1.5em;
      margin-top: 4em;
      margin-left: 2em;
    }

    position: absolute;
    max-width: 600px;
    background-color: rgba(237, 202, 185, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .image {
    @media (max-width: 480px) {
      height: 400px;
      min-height: 250px;
      background-position: 85% top;
      background-color: rgba(237, 202, 185, 0.35);
      background-blend-mode: overlay;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      background-position: calc(100% + 10em) top;
      background-color: rgba(237, 202, 185, 0.25);
      background-blend-mode: overlay;
    }

    @media (max-width: 768px) and (orientation: landscape) {
      background-position: center center;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      background-position: calc(100% + 4em) top;
    }

    @media (min-width: 1025px) {}

    width: 100%;
    height: 580px;
    max-width: 1280px;
    min-height: 300px;
    max-height: 580px;
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .title {
    @media (max-width: 480px) {
      font-size: 2em;
      padding: 0;
      margin: 0;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      font-size: 2em;
      padding: 0;
      margin: 0;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 2.5em;
      padding: 0;
      margin: 0;
    }

    @media (min-width: 1025px) {
      font-size: 3.5em;
      padding: 0;
      margin: 0;
    }

    font-size: 56px;
  }

  .subtitle {
    @media (max-width: 480px) {
      font-size: 16px;
      margin-top: 3px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      font-size: 0.9em;
      padding: 0;
      margin: -0.5em 0 0 0;
      ;
    }

    @media (min-width: 769px) and (max-width: 1024px) {}

    @media (min-width: 1025px) {}

    margin-top: 5px;
    font-size: 24px;
  }

  .tagline {
    @media (max-width: 480px) {
      font-size: 14px;
      padding: 0.3em 0;
    }

    @media (max-width: 768px) {}

    @media (min-width: 769px) and (max-width: 1024px) {}

    @media (min-width: 1025px) {}

    font-size: 16px;
    padding: 0.5em 0;
  }

  .sign-off {
    @media (max-width: 480px) {
      font-size: 14px;
      margin-top: 10px;
    }

    @media (max-width: 768px) {}

    @media (min-width: 769px) and (max-width: 1024px) {}

    @media (min-width: 1025px) {}

    font-size: 16px;
    margin-top: 15px;
  }
}

.content {
  max-width: 1280px;
  margin: 30px auto;

  @media (max-width: 480px) {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 0.9em;
    padding: 0;
    margin: -0.5em 0 0 0;
    ;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 0;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  @media (min-width: 1025px) {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }

  position: relative;
}

.fill-view-port {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 60px;
}

.header {
  @media (max-width: 480px) {
    max-width: 100%;
  }

  @media (max-width: 768px) {}

  @media (min-width: 769px) and (max-width: 1024px) {}

  @media (min-width: 1025px) {}

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.footer {
  @media (max-width: 480px) {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 0.9em;
    padding: 0;
    margin: -0.5em 0 0 0;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 0;
    height: 50px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  @media (min-width: 1025px) {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  box-sizing: border-box;

  .copyright {
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
    color: #000000;
    text-decoration: none;
    text-align: center;
    width: auto;
  }
}

.diploma {
  @media (max-width: 480px) {
    height: 400px;
    min-height: 250px;
  }

  @media (min-width: 481px) and (max-width: 768px) {}

  @media (max-width: 768px) and (orientation: landscape) {}

  @media (min-width: 769px) and (max-width: 1024px) {}

  @media (min-width: 1025px) {}

  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/images/diploma.png);
  background-repeat: no-repeat;
  background-size: contain;

  .disclaimer {
    position: absolute;
    bottom: 0.80em;
    right: 0.25em;
  }
}
